<%- include('../parts/header') %> <%- include('../components/Navbar') %>
<div class="screen">
  <div class="container">
    <div id="onlineFriends">
      
    </div>
  </div>
</div>

<%-include('../parts/scripts') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/home.js"></script>
<%- include('../parts/footer') %>
